 #top_photo {
   border: solid 1px #000000;
 }

#intro_body {
  margin: 2em 10em 0 5em;
  margin-right: 10em;
  text-align: center;
}

#headings1 {
  background-color: #999999;
}

#headings2 {
  background-color: #999999;
}

#left_panel {
  padding-left: 20em;
}

#right_panel {
  clear:both;
}

#upper_right_panel {
  background-color: #e6e6e6;
  text-align: center;
}

#purple_heart {
  margin-bottom: 1em;
}

#lower_right_panel {
  clear:right;
  margin-bottom: 0.5em;
  text-align: center;
  background-color: #e6e6e6;
}

#eulogy_image {
  margin-bottom: 1em;
}
