 #top_photo {
   border: solid 1px #000000;
 }

#intro_body {
  margin: 2em 10em 0 5em;
  margin-right: 10em;
  text-align: center;
}

#left_panel {
  float:left;
}

#right_panel {
  float:right;
}

#upper_right_panel {
  float:right;
}

#purple_heart {
  margin-bottom: 1em;
}

#lower_right_panel {
  /*float:right;*/
  clear:right;
  margin-bottom: 0.5em;
  text-align: center;

}

#eulogy_image {
  margin-bottom: 1em;
}
